# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist


# md files
EXECUTION_ORDER.md
DURIN_SETUP.md
PARALLEL_GUIDE.md
PROJECT_SETUP.md
SPRINT_PLAN.md
packages/nextjs/.next
packages/stitch_design_system_implementation

#env file
.env
.env.local
.env.*

packages/nextjs/.env.local
# .vercel/project.json is intentionally committed for team deploys
.vercel/output
